<nav class="navbar navbar-dark bg-primary">
  <h1 class="text-center">Search Box App!</h1>
</nav>

<div class="input-group input-group-lg margin">
  <span class="input-group-addon" id="sizing-addon1">=></span>
  <input type="text" class="form-control" list="city-list" placeholder="Start Typing A City Name..."
    [(ngModel)]="destination" (ngModelChange)="updateDestination()">
  <datalist id="city-list">
    <option *ngFor="let city of cities" [value]="city">{{city}}</option>
  </datalist>
</div>

<div class="margin2 margin">
  <h3>You Have Entered: {{destination}}</h3>
</div>